##importing libraries##

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math
from scipy import stats
from scipy.stats import percentileofscore 
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [2]:
stocks=pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

removing the tickrs of stocks that have been delisted

In [3]:
stocks = stocks[~stocks['Ticker'].isin(['DISCA', 'HFC','VIAC','WLTW','AET','ADS','ANDV','BHGE','APTV'])]
# stocks = stocks[~stocks['Ticker'].isin(['AET','ADS','ANDV','BHGE','APTV'])]

In [20]:
stocks.reset_index(inplace=True,drop=True)
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
495    YUM
496    ZBH
497   ZBRA
498   ZION
499    ZTS

[500 rows x 1 columns]

##gupt_gyan is the secrets.py file and i renamed it as the notebook compiler was confusing it with some numpy necessaries##

In [4]:
from gupt_gyan import IEX_CLOUD_API_TOKEN

##first we go through the whole process and make a simple model##

##now we parse the api's in batches as it reduces the loading time##

In [5]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
#print(len(symbol_groups))
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])
print(symbol_strings)
#print(symbol_groups)
my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

['A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA,CME', 'CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD,GIS,GL', 'GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP,MCK,MCO,MDLZ', 'MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK,ROL,ROP,ROST', 'RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS']

In [7]:
hqm_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = hqm_columns), 
                                        ignore_index = True)
hqm_dataframe.replace(to_replace=[None], value=0, inplace=True)
hqm_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'One-Year Price Return',
       'One-Year Return Percentile', 'Six-Month Price Return',
       'Six-Month Return Percentile', 'Three-Month Price Return',
       'Three-Month Return Percentile', 'One-Month Price Return',
       'One-Month Return Percentile', 'HQM Score'],
      dtype='object')

In [8]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        change_col=f'{time_period} Price Return'
        percentile_col= f'{time_period} Return Percentile'
        hqm_dataframe.loc[row, percentile_col] = stats.percentileofscore(hqm_dataframe[change_col], hqm_dataframe.loc[row, change_col])/100

# Print each percentile score to make sure it was calculated properly
for time_period in time_periods:
    print(hqm_dataframe[f'{time_period} Return Percentile'])

#Print the entire DataFrame    
hqm_dataframe

0       0.52
1      0.194
2      0.458
3      0.694
4      0.898
       ...
495    0.604
496    0.286
497     0.02
498    0.402
499     0.21
Name: One-Year Return Percentile, Length: 500, dtype: object
0      0.894
1      0.114
2      0.508
3      0.494
4      0.658
       ...
495     0.69
496    0.422
497     0.03
498    0.386
499    0.296
Name: Six-Month Return Percentile, Length: 500, dtype: object
0      0.774
1       0.58
2       0.49
3       0.41
4      0.742
       ...
495    0.472
496    0.508
497    0.038
498    0.488
499    0.156
Name: Three-Month Return Percentile, Length: 500, dtype: object
0      0.766
1       0.79
2      0.888
3      0.446
4      0.536
       ...
495    0.576
496     0.37
497    0.018
498    0.206
499    0.256
Name: One-Month Return Percentile, Length: 500, dtype: object

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,137.940,N/A,-0.103669,0.52,0.183159,0.894,0.075523,0.774,0.168525,0.766,N/A
1,AAL,14.441,N/A,-0.301567,0.194,-0.247399,0.114,0.003630,0.58,0.176317,0.79,N/A
2,AAP,185.290,N/A,-0.144351,0.458,-0.041016,0.508,-0.021763,0.49,0.210966,0.888,N/A
3,AAPL,145.340,N/A,0.009888,0.694,-0.044790,0.494,-0.058039,0.41,0.091894,0.446,N/A
4,ABBV,145.230,N/A,0.317746,0.898,0.013342,0.658,0.059853,0.742,0.106690,0.536,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
495,YUM,124.818,N/A,-0.034117,0.604,0.030775,0.69,-0.029202,0.472,0.115542,0.576,N/A
496,ZBH,108.520,N/A,-0.238623,0.286,-0.072106,0.422,-0.017316,0.508,0.069894,0.37,N/A
497,ZBRA,231.714,N/A,-0.602997,0.02,-0.386322,0.03,-0.263600,0.038,-0.093936,0.018,N/A
498,ZION,48.820,N/A,-0.174099,0.402,-0.084722,0.386,-0.021864,0.488,0.015110,0.206,N/A
499,ZTS,132.780,N/A,-0.288731,0.21,-0.127798,0.296,-0.149959,0.156,0.033492,0.256,N/A

In [9]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

In [10]:
hqm_dataframe.sort_values(by = 'HQM Score', ascending = False)
hqm_dataframe = hqm_dataframe[:50]

In [12]:
portfolio_size =10000000

In [13]:
position_size = float(portfolio_size) / len(hqm_dataframe.index)
for i in range(0, len(hqm_dataframe['Ticker'])-1):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe['Price'][i])
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,137.940,1449,-0.103669,0.52,0.183159,0.894,0.075523,0.774,0.168525,0.766,0.7385
1,AAL,14.441,13849,-0.301567,0.194,-0.247399,0.114,0.003630,0.58,0.176317,0.79,0.4195
2,AAP,185.290,1079,-0.144351,0.458,-0.041016,0.508,-0.021763,0.49,0.210966,0.888,0.586
3,AAPL,145.340,1376,0.009888,0.694,-0.044790,0.494,-0.058039,0.41,0.091894,0.446,0.511
4,ABBV,145.230,1377,0.317746,0.898,0.013342,0.658,0.059853,0.742,0.106690,0.536,0.7085
5,ABC,161.800,1236,0.277108,0.886,0.055997,0.742,0.098662,0.81,0.158889,0.726,0.791
6,ABMD,385.110,519,0.082696,0.764,0.332277,0.968,0.295738,0.966,0.538961,1.0,0.9245
7,ABT,98.640,2027,-0.209505,0.34,-0.117175,0.314,-0.083895,0.33,0.031949,0.252,0.309
8,ACN,269.600,741,-0.211484,0.336,-0.070022,0.428,-0.067313,0.394,0.099024,0.494,0.413
9,ADBE,301.900,662,-0.511275,0.036,-0.235012,0.13,-0.233809,0.05,0.150667,0.698,0.2285
10,ADI,140.010,1428,-0.177990,0.396,-0.078374,0.404,-0.150369,0.154,0.040112,0.284,0.3095
11,ADM,99.790,2004,0.570420,0.956,0.106867,0.81,0.184517,0.908,0.217855,0.902,0.894
12,ADP,244.410,818,0.102226,0.784,0.122403,0.822,0.017320,0.634,0.080432,0.404,0.661
13,ADSK,204.840,976,-0.332080,0.16,0.110831,0.816,-0.009866,0.518,0.147971,0.692,0.5465
14,AEE,82.870,2413,-0.007465,0.644,-0.105488,0.33,-0.113295,0.258,0.019518,0.218,0.3625
15,AEP,92.610,2159,0.075239,0.756,-0.087722,0.374,-0.097869,0.298,0.024728,0.228,0.414
16,AES,26.820,7457,0.067996,0.75,0.300380,0.954,0.197695,0.922,0.176282,0.788,0.8535
17,AFL,66.160,3022,0.246633,0.872,0.182469,0.892,0.144909,0.868,0.191734,0.836,0.867
18,AIG,58.041,3445,-0.026504,0.612,-0.022322,0.556,0.133609,0.852,0.203952,0.878,0.7245
19,AIV,7.749,25809,0.035845,0.726,0.293373,0.95,-0.004171,0.53,0.089017,0.436,0.6605
20,AIZ,126.917,1575,-0.162961,0.43,-0.253863,0.108,-0.218279,0.064,-0.073077,0.03,0.158
21,AJG,188.400,1061,0.171608,0.838,0.143149,0.856,0.091458,0.802,0.095271,0.474,0.7425
22,AKAM,87.170,2294,-0.167005,0.426,-0.215607,0.156,-0.071946,0.376,0.097455,0.484,0.3605
23,ALB,285.130,701,0.083223,0.766,0.468519,0.992,0.150100,0.872,0.056823,0.326,0.739
24,ALGN,180.700,1106,-0.715649,0.004,-0.392106,0.028,-0.324189,0.022,-0.071152,0.032,0.0215
25,ALK,44.280,4516,-0.186923,0.376,-0.162879,0.226,0.000462,0.568,0.141608,0.67,0.46
26,ALL,129.500,1544,0.032615,0.72,-0.002487,0.596,0.096011,0.806,0.010146,0.19,0.578
27,ALLE,104.270,1918,-0.181861,0.388,-0.065698,0.448,0.043329,0.708,0.194638,0.85,0.5985
28,ALXN,184.400,1084,0.000000,0.669,0.000000,0.611,0.000000,0.553,0.000000,0.151,0.496
29,AMAT,87.060,2297,-0.365730,0.142,-0.201758,0.18,-0.142764,0.178,0.098283,0.488,0.247
30,AMCR,11.090,18034,-0.012220,0.634,0.010340,0.65,-0.085072,0.328,0.080680,0.406,0.5045
31,AMD,63.810,3134,-0.545755,0.03,-0.346407,0.048,-0.414324,0.004,-0.060087,0.038,0.03
32,AME,134.660,1485,-0.051346,0.578,0.049737,0.722,0.061307,0.746,0.166776,0.756,0.7005
33,AMGN,269.190,742,0.318433,0.9,0.197664,0.904,0.126636,0.846,0.211291,0.89,0.885
34,AMP,322.940,619,0.038929,0.728,0.183166,0.896,0.194882,0.92,0.251215,0.934,0.8695
35,AMT,210.900,948,-0.252344,0.272,-0.112690,0.322,-0.224143,0.058,-0.024707,0.088,0.185
36,AMZN,93.000,2150,-0.424925,0.082,-0.230980,0.138,-0.284767,0.026,-0.148827,0.01,0.064
37,ANET,125.900,1588,0.039217,0.73,0.082233,0.776,0.090975,0.8,0.137027,0.652,0.7395
38,ANSS,218.400,915,-0.433133,0.072,-0.218714,0.15,-0.209238,0.074,-0.011250,0.114,0.1025
39,ANTM,502.700,397,0.287020,0.892,0.055982,0.74,0.006484,0.592,-0.073704,0.028,0.563
40,AON,278.320,718,-0.061937,0.564,0.012547,0.656,0.017481,0.636,0.067113,0.36,0.554
41,AOS,54.830,3647,-0.303067,0.19,-0.071546,0.424,-0.093591,0.308,0.132587,0.638,0.39
42,APA,48.480,4125,0.715893,0.972,0.139749,0.842,0.289037,0.964,0.357536,0.98,0.9395
43,APD,270.329,739,-0.137820,0.462,0.089239,0.788,0.040071,0.698,0.083878,0.414,0.5905
44,APH,75.720,2641,-0.002902,0.656,0.080420,0.772,0.007220,0.598,0.146633,0.684,0.6775
45,ARE,148.487,1346,-0.286582,0.212,-0.180679,0.206,-0.088976,0.318,0.033835,0.258,0.2485
46,ATO,107.218,1865,0.156235,0.828,-0.038099,0.522,-0.115125,0.252,0.043553,0.294,0.474
47,ATVI,74.470,2685,-0.052048,0.574,-0.063355,0.45,-0.078434,0.35,-0.014076,0.108,0.3705
48,AVB,176.102,1135,-0.237137,0.288,-0.196468,0.19,-0.138732,0.19,-0.050103,0.048,0.179
49,AVGO,449.538,N/A,-0.112041,0.504,-0.182941,0.198,-0.114504,0.256,0.055442,0.322,0.32

In [14]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index = False)

In [15]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [16]:
column_formats = { 
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['One-Year Price Return', percent_template],
                    'E': ['One-Year Return Percentile', percent_template],
                    'F': ['Six-Month Price Return', percent_template],
                    'G': ['Six-Month Return Percentile', percent_template],
                    'H': ['Three-Month Price Return', percent_template],
                    'I': ['Three-Month Return Percentile', percent_template],
                    'J': ['One-Month Price Return', percent_template],
                    'K': ['One-Month Return Percentile', percent_template],
                    'L': ['HQM Score', integer_template]
                    }

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

In [17]:
writer.save()